@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Montserrat', sans-serif;
  }

h2 {
    font-size: 35px;
    margin: 10px;
    font-weight: 300;
}

h3 {
    font-size: 25px;
    margin: 10px;
    font-weight: 300;
}

.seperator {
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

.title {
    font-size: 22px;
    font-style: italic;
    color: rgb(45, 171, 229);
}

.companyname {
    font-size: 18px;
    font-style: italic;
    
}